/* this file contains all the style modifications doe the Calender.js file */

/* remove underline from days of week */
abbr[title] {
  text-decoration: none;
}

/* styles the error message on the bookings page */
.error {
  color: red;
}

/* Hide right year arrow */
.react-calendar__navigation__next2-button {
  display: none;
}
/* Hide left year arrow */
.react-calendar__navigation__prev2-button {
  display: none;
}
/* Make year selector unclickable */
.react-calendar__navigation__label {
  pointer-events: none;
}
