.timePicker-container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
  margin: 3rem;
  border: 1px solid rgb(180, 180, 180);
}

.timePicker-container div {
  border: 0px solid rgb(180, 180, 180);
  background-color: white;
  padding: 0.6rem 0rem;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.timePicker-container div:hover {
  background-color: rgb(133, 133, 133);
  cursor: pointer;
}
